<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
    <head>
        <title>Rooms</title>
    </head>
{% block content %}
    <div><a href="/home">Home</a></div>
    <div><a href="/cleaning">Cleaning</a></div>
    <div><a href="/rooms">Rooms</a></div>
    <div><a href="/about">About</a></div>
    <div><a href="/deals">Deals</a></div>
    <div><a href="/info">Booking Info</a></div>
    <div><a href="/logout">Log Out</a></div>
    <hr>
    <header>Book a Hotel Room</header>
{% endblock %}